<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Applications</h4>
                      </div>
                    <div class="card-content table-responsive" >
                        <table class="table" *ngIf="applications">
                            <thead class="text-danger">
                                <tr>
                                    <th>Event Name</th>
                                    <th>Event Date</th>
                                    <th>Applicant Name</th>
                                    <th>Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let application of applications">
                                    <td>{{application.eventName}}</td>
                                    <td>{{application.eventDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{application.name}}</td>
                                    <td>
                                      <button type="button" class="btn btn-primary btn-sm" (click)="viewApplication(application)">View Applications</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!applications"> No Application</div>
                    </div>
                    
                </div>
            </div>
  
        </div>
    </div>
  </div>
  