<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Applications</h4>
                      </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Event Name</th>
                                    <th>Event Date</th>
                                    <th>Total Application</th>
                                    <th>Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let events of events">
                                    <td>{{events.eventName}}</td>
                                    <td>{{events.eventLocation}}</td>
                                    <td>{{events.eventDate}}</td>
                                    <td>
                                      <button type="button" class="btn btn-primary btn-sm">View Applications</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
  
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>
  