<div class="bootstrap-iso">
  <div class="container-fluid">
      <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left:20%">
          <!-- <img src="assets/images/logo.png" width="150px;" style="display: block;margin: 0 auto;" class="user-avatar" /> -->

          <h1 style="text-align:center">Sign Up</h1>
          <hr/>
          <form [formGroup]="sform">
              <div class="form-group ">
                  <label class="control-label requiredField" for="username">
                      Username
                      <span class="asteriskField">
                          *
                      </span>
                  </label>
                  <input class="form-control" formControlName="username" required #username id="username" name="username" type="text" />
              </div>
              <div class="form-group ">
                  <label class="control-label requiredField" for="password">
                      Password
                      <span class="asteriskField">
                          *
                      </span>
                  </label>
                  <input class="form-control" formControlName="password" id="password" name="password" type="password" />
              </div>
              <div class="form-group ">
                  <label class="control-label requiredField" for="adminName">
                      Admin Name
                      <span class="asteriskField">
                          *
                      </span>
                  </label>
                  <input class="form-control" formControlName="adminName" id="adminName" name="adminName" type="text" />
              </div>
              <div class="form-group ">
                  <label class="control-label requiredField" for="contactNumber">
                      Contact Number
                      <span class="asteriskField">
                          *
                      </span>
                  </label>
                  <input class="form-control" formControlName="contactNumber" id="contactNumber" name="contactNumber" type="number" />
              </div>
              <div class="form-group ">
                  <label class="control-label requiredField" for="email">
                      Email
                      <span class="asteriskField">
                          *
                      </span>
                  </label>
                  <input class="form-control" formControlName="email" id="email" name="email" type="email" />
              </div>
              <div class="form-group ">
                  <label class="control-label requiredField" for="hotelName">
                      Hotel Name
                      <span class="asteriskField">
                          *
                      </span>
                  </label>
                  <input class="form-control" id="hotelName" formControlName="hotelName" name="hotelName" type="text" />
              </div>
              <div class="form-group ">
                  <label class="control-label " for="hotelTag">
                      Hotel Tagline
                  </label>
                  <textarea class="form-control" formControlName="hotelTag" id="hotelTag" name="hotelTag" rows="3"></textarea>
              </div>
              <div class="form-group ">
                  <label class="control-label " for="hotelDesc">
                      Hotel Description
                  </label>
                  <textarea class="form-control" formControlName="hotelDesc" id="hotelDesc" name="hotelDesc" rows="3"></textarea>
              </div>
              <div class="form-group ">
                  <label class="control-label requiredField" for="hotelBranch">
                      Hotel Branch
                      <span class="asteriskField">
                          *
                      </span>
                  </label>
                  <input class="form-control" formControlName="hotelBranch" id="hotelBranch" name="hotelBranch" type="text" />
              </div>
              <div class="form-group ">
                  <label class="control-label requiredField" for="hotelLocation">
                      Hotel Location
                      <span class="asteriskField">
                          *
                      </span>
                  </label>
                  <input class="form-control" formControlName="hotelLocation" id="hotelLocation" name="hotelLocation" type="text" />
              </div>
              <div class="form-group">
                  <div style="text-align: center;float: none;">
                      <button class="btn btn-primary " name="submit" 
                      (click)="register(sform.value)" 
                      type="button">
                          Register
                      </button> 
                      <button class="btn btn-danger" name="button" (click)="cancelConfirm()" type="cancel">
                              Cancel
                          </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>