<div *ngIf="view">
  <div class="row">
    <div class="col-lg-8" style="margin-left:10%">
      <form class="class-content" [formGroup]="ceform">
        <h1 style="text-align:center">Manage Event</h1>
        <hr/>
        <fieldset class="form-group">
          <label>Event Name *</label>
          <input class="form-control" type="text" formControlName="eventName" required>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group">
          <label>Event Location *</label>
          <input class="form-control" type="text" formControlName="eventLocation" required>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group">
          <label>Event Date *</label>
          <input class="form-control" type="date" formControlName="eventDate" min="{{today}}"  required>
          <p class="help-block" >Example block-level help text here.</p>
        </fieldset>
        <fieldset class="form-group">
          <label>Event Time</label>
          <input class="form-control" type="time" formControlName="eventTime" required>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <div class="form-group">
          <label>Event Pay Type</label>
          <select class="form-control" formControlName="payType" required>
            <option selected></option>
            <option value="1">Per Hour</option>
            <option value="2">Per Day</option>
          </select>
        </div>
        <fieldset class="form-group">
          <label>Pay Rate</label>
          <div class="input-box">
            <input class="inputs" formControlName="payRate" autofocus="autofocus" required/>
            <span class="unit">RM</span>
          </div>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group">
          <label>Event Description</label>
          <textarea class="form-control" rows="3" formControlName="eventDesc" ></textarea>
        </fieldset>

        <div class="form-group">
          <label>Event Type</label>
          <select class="form-control" formControlName="eventType" required>
            <option selected></option>
            <option *ngFor="let eventTypes of eventTypes" [value]="eventTypes.typeId">{{eventTypes.typeName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Required Participant Type</label>
          <select class="form-control" formControlName="participantType" #participantType required (change)="change(participantType.value)">
            <option selected></option>
            <option *ngFor="let participantTypes of participantTypes" [value]="participantTypes.participantTypeId">{{participantTypes.participantTypeName}}</option>
          </select>
        </div>
        <fieldset class="form-group" *ngIf="male">
          <label>Number of Male Participant</label>
          <input class="form-control" formControlName="male" type="number">
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group" *ngIf="female" >
          <label>Number of Female Participant</label>
          <input class="form-control" formControlName="female" type="number">
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group" *ngIf="mixed">
          <label>Number of Mixed Participant</label>
          <input class="form-control" formControlName="mixed" type="number">
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <div class="form-group">
          <label>Assigned to :</label>
          <select class="form-control" formControlName="assignedTo" required>
            <option selected></option>
            <option *ngFor="let staff of staff" [value]="staff.staffId">{{staff.username}}</option>
          </select>
        </div>
        <div style="text-align:center">
          <button class="btn btn-danger" (click)="create(ceform.value,1)">Create</button>
          <button type="submit" (click)="goBack()" class="btn btn-danger">Back</button>
        </div>
        <br/>
        <br/>

      </form>

    </div>

  </div>
  <!-- /.row -->
</div>

<div *ngIf="!view">
  <div class="row" *ngFor="let forms of forms">
    <div class="col-lg-8" style="margin-left:10%">
      <form class="class-content" [formGroup]="ceform">
        <h1 style="text-align:center">Manage Event</h1>
        <hr/>
        <fieldset class="form-group">
          <label>Event Name *</label>
          <input class="form-control" type="text" formControlName="eventName" [disabled]="!edit"  required>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group">
          <label>Event Location *</label>
          <input class="form-control" type="text" formControlName="eventLocation"  [disabled]="!edit"  required>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group">
          <label>Event Date *</label>
          <input class="form-control" type="date" min="{{today}}" formControlName="eventDate" [disabled]="!edit"  required>
          <!-- <p class="help-block" *ngIf="eventDate.error">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group">
          <label>Event Time</label>
          <input class="form-control" type="time" formControlName="eventTime" [disabled]="!edit"  required>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <div class="form-group">
          <label>Event Pay Type</label>
          <select class="form-control" formControlName="payType" [disabled]="!edit"  required>
            <option selected></option>
            <option value="1">Per Hour</option>
            <option value="2">Per Day</option>
          </select>
        </div>
        <fieldset class="form-group">
          <label>Pay Rate</label>
          <div class="input-box">
            <input class="inputs" formControlName="payRate" [disabled]="!edit"  required/>
            <span class="unit">RM</span>
          </div>
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group">
          <label>Event Description</label>
          <textarea class="form-control" rows="3" formControlName="eventDesc"  [disabled]="!edit" ></textarea>
        </fieldset>

        <div class="form-group">
          <label>Event Type</label>
          <select class="form-control" formControlName="eventType" [disabled]="!edit"  required>
            <option selected></option>
            <option *ngFor="let eventTypes of eventTypes" [value]="eventTypes.typeId">{{eventTypes.typeName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Required Participant Type</label>
          <select class="form-control" formControlName="participantType" #participantType  [disabled]="!edit"  (change)="change(participantType.value)">
            <option selected></option>
            <option *ngFor="let participantTypes of participantTypes" [value]="participantTypes.participantTypeId">{{participantTypes.participantTypeName}}</option>
          </select>
        </div>
        <fieldset class="form-group" *ngIf="male">
          <label>Number of Male Participant</label>
          <input class="form-control" formControlName="male"  [disabled]="!edit"  type="number">
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group" *ngIf="female">
          <label>Number of Female Participant</label>
          <input class="form-control" formControlName="female"  [disabled]="!edit"  type="number">
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <fieldset class="form-group" *ngIf="mixed">
          <label>Number of Mixed Participant</label>
          <input class="form-control" formControlName="mixed"  [disabled]="!edit"  type="number">
          <!-- <p class="help-block">Example block-level help text here.</p> -->
        </fieldset>
        <div class="form-group">
          <label>Assigned to :</label>
          <select class="form-control" formControlName="assignedTo" #assignedTo [disabled]="!edit"  required>
            <option selected></option>
            <option *ngFor="let staff of staff" [value]="staff.staffId">{{staff.username}}</option>
          </select>
        </div>
        <div style="text-align:center">
          <button type="submit" class="btn btn-primary" *ngIf="!edit" (click)="enableEdit()">Edit</button>
          <button type="submit" class="btn btn-primary" *ngIf="edit" (click)="create(ceform.value,2)">Save</button>
          <button type="submit" (click)="goBack()" class="btn btn-danger">Back</button>
        </div>
        <br/>
        <br/>

      </form>

    </div>

  </div>
  <!-- /.row -->
</div>