<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" data-background-color="red">
                    <div class="row">
                      <div class="col-md-8">
                      <h4 class="title">Upcoming Events</h4>
                    </div>
                    <div class="col-md-4"> 
                      <button type="button" class="btn btn-primary" (click)="goto(1)">Add New Event</button>
                    </div>
                    </div>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-danger">
                              <tr>
                                  <th>Event Name</th>
                                  <th>Event Location</th>
                                  <th>Event Date</th>
                                  <th>Action </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let events of events">
                                  <td>{{events.eventName}}</td>
                                  <td>{{events.eventLocation}}</td>
                                  <td>{{events.eventDate}}</td>
                                  <td>
                                    <button type="button" class="btn btn-primary btn-sm" (click)="goto(2,events.eventId)">View/Update</button>
                                   </td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
