<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">My Staff</h4>
                                <p class="title" *ngIf="numberOfStaff != null">Registered Staff : <span class="badge label label-success"> {{numberOfStaff}}</span></p>
                                
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" (click)="goto(0)">Add New Staff</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger" item-width="10%">
                                <tr>
                                    <th>Staff Id</th>
                                    <th>Staff Name</th>
                                    <th>Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let staffs of staffs">
                                    <td>{{staffs.staffId}}</td>
                                    <td>{{staffs.staffName}}</td>
                                    <td>
                                        <button type="button" rel="tooltip" title="View/Update Staff" class="btn btn-danger btn-simple btn-xs" (click)="goto(staffs.staffId)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove Staff" class="btn btn-danger btn-simple btn-xs" (click)="delete(staffs.staffId)">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

